<div class="blog-section">
  <section class="section">
    <div class="container">
      <div class="section-title">
        <h3>Latest from the Industry</h3>
      </div>

      <div class="row g-4">
        <div class="col-6">
          <div class="mini-card shadow-sm d-flex">
            <img
              src="assets/images/product-1.png"
              alt="Distribution Transformers"
              style="width: 240px; height: 220px"
            />
            <div class="p-4">
              <h6>Understanding Distribution Transformers in India</h6>
              <p class="text-muted mb-2 mt-3">
                Learn how BIS-compliant distribution transformers ensure safe,
                efficient power supply across urban and rural networks.
              </p>
              <a href="products.html" class="mt-1 d-inline-block"
                >Read More →</a
              >
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="mini-card shadow-sm d-flex">
            <img
              src="assets/images/product-1.png"
              alt="Distribution Transformers"
              style="width: 240px; height: 220px"
            />
            <div class="p-4">
              <h6>Choosing the Right Transformer Capacity</h6>
              <p class="text-muted mb-2 mt-3">
                Know how to select the correct KVA rating based on load demand,
                usage, and site conditions.
              </p>
              <a href="products.html" class="mt-1 d-inline-block"
                >Read More →</a
              >
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="mini-card shadow-sm d-flex">
            <img
              src="assets/images/product-1.png"
              alt="Distribution Transformers"
              style="width: 240px; height: 220px"
            />
            <div class="p-4">
              <h6>Role of Low Loss Transformers in Utilities</h6>
              <p class="text-muted mb-2 mt-3">
                Understand how low loss and LFA transformers help utilities
                reduce losses and improve energy efficiency.
              </p>
              <a href="products.html" class="mt-1 d-inline-block"
                >Read More →</a
              >
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="mini-card shadow-sm d-flex">
            <img
              src="assets/images/product-1.png"
              alt="Distribution Transformers"
              style="width: 240px; height: 220px"
            />
            <div class="p-4">
              <h6>Power vs Distribution Transformers Explained</h6>
              <p class="text-muted mb-2 mt-3">
                Explore the key differences between power and distribution
                transformers in design, capacity, and application.
              </p>
              <a href="products.html" class="mt-1 d-inline-block"
                >Read More →</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
