<div class="team-section">
  <!-- ================= TEAMS SLIDER ================= -->
  <section class="section team-slider-section">
    <div class="container">
      <!-- SECTION TITLE -->
      <div class="section-title">
        <h3>Our Core Team</h3>
      </div>

      <!-- SLIDER -->
        <div class="row g-4">
          <!-- MEMBER 1 -->
          <div class="col-3">
            <div class="mini-card shadow-sm p-4 text-center">
              <div class="avatar"></div>
              <h6>Yogesh Parashar</h6>
              <p>Director</p>
              <p class="text-muted">
                We undertake industrial, commercial, and institutional
                construction projects.
              </p>
              <a href="#" class="linkedin">Linkedin</a>
            </div>
          </div>

          <!-- MEMBER 2 -->
          <div class="col-3">
            <div class="mini-card shadow-sm p-4 text-center">
              <div class="avatar"></div>
              <h6>Manas Parashar</h6>
              <p>Director</p>
              <p class="text-muted">
                We undertake industrial, commercial, and institutional
                construction projects.
              </p>
              <a href="#" class="linkedin">Linkedin</a>
            </div>
          </div>

          <!-- MEMBER 3 -->
         <div class="col-3">
            <div class="mini-card shadow-sm p-4 text-center">
              <div class="avatar"></div>
              <h6>Rajeev Ranjan</h6>
              <p>Production Manager</p>
              <p class="text-muted">
                We undertake industrial, commercial, and institutional
                construction projects.
              </p>
              <a href="#" class="linkedin">Linkedin</a>
            </div>
          </div>
        </div>

    </div>
  </section>

  <!-- ================= DIRECTORS MESSAGE ================= -->

  <section class="section bg-primary text-white section-padding">
    <div class="container">
      <div class="row align-items-center g-4">
        <div class="col-7">
          <h5>Director’s Message</h5>
          <p class="mt-4 mb-4">
            Our journey is built on years of hard work, trust, and a deep
            respect for engineering excellence. What began as a vision to create
            reliable power solutions has grown into a manufacturing legacy
            driven by quality and integrity. <br /><br />
            Every transformer we manufacture reflects our commitment to
            durability, safety, and long-term performance. We believe trust is
            earned over time, through consistent delivery, honest practices, and
            standing by our customers in every condition.<br /><br />As we move
            forward, we remain rooted in our values while embracing innovation,
            determined to contribute meaningfully to India’s power
            infrastructure for generations to come.
          </p>
          <strong>Yogesh Parashar, Director & CEO</strong>
        </div>

        <div class="col-5 text-end">
          <img
            src="assets/images/director-photo.png"
            alt="Director Photo"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </section>
</div>
